<launch>
 <group ns="/rover0">
  <node pkg="tf" type="static_transform_publisher" name="fake_goal" args="-3 -3 0 0 0 0 /goal /map 100" />
  <node pkg="tf" type="static_transform_publisher" name="fake_map" args="0 0 0 0 0 0 /map /odom 100" />
  <node pkg="tf" type="static_transform_publisher" name="base_footprint_IMU" args="0 0 0 -1.57 0 0 /base_footprint /Imu_link 100" />
  <node pkg="tf" type="static_transform_publisher" name="IMU_base_linK" args="0 0 0 1.57 0 0 /Imu_link /base_link 100" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_laser" args="0.493 0 0 0 0 0 /base_link /laser 100" /> 
  <node pkg="tf" type="static_transform_publisher" name="laser_b_link" args="-0.093 0 0 0 0 0 /laser  /cam0 100" />
  <node pkg="joy" name="joy_node" type="joy_node" output="screen">
  </node>
  <node pkg="rover_simulator" name="rover_sim" type="rover_sim" output="screen" required="true">
  </node>

  <node pkg="donkey_rover" name="controler" type="follow_xfront.py" output="screen" required="true">
    <param name="Tracking_precision" value="0.01" />
  </node>

 </group>

</launch>
